node_modules

/dist
/.env
/.env.local
/.env.development
/.env.test
/.env.production
/coverage
.DS_Store
*.log
*.lock
*.tsbuildinfo
.idea
.vscode
*.iml
*.sublime-project
*.sublime-workspace
*.swp
*.bak
*.tmp
*.cache
*.zip
*.tar.gz
*.tgz
*.7z
*.pdf
*.doc
*.docx
*.xls
*.xlsx
*.ppt
*.pptx
*.txt